.header > div > div input {
  z-index: 30;
}
.header > div > div input:checked ~ ul {
  z-index: 29;
}

#btn-default {
  text-transform: uppercase;
  color: #001f34;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Roboto Condensed',sans-serif;
  padding: 10px 50px;
  box-sizing: border-box;
  background-color: #fff;
  display: inline-block;
  line-height: 19px;
}

input::placeholder {
  color: white !important;
}
/*  */
#langs{
  opacity: 1;
  position: relative;
  display: block;
  width: auto;
  padding: 0;
  background-color: transparent;
}
#langs .lang-item{
  width: auto;
}
.locale_active {
  font-weight: bolder !important;
  color: #FFF !important
}
.locale_active_inicio {
  font-weight: bolder !important;
  color: #001f34 !important
}
.hm-landing .container {
    min-height: 420px;
    height: 55vh;
}
footer#footer-inicio p {
  color: #002740 !important;
}
footer p {
  color: white !important;
}
footer p strong {
  color: white !important;
}
/* h2 + p {
    font-size: 18px;
    margin: 0 0 15px 0;
    padding-bottom: 9px;
    font-weight: 300;
    border-bottom: 1px solid #e9e9e9;
    color: #fff;
} */
/*  */
.slick-dots li button::before {
  color: white !important;
}
