.header > div > div input {
  z-index: 30;
}
.header > div > div input:checked ~ ul {
  z-index: 29;
}
section {
  margin-bottom: 16px !important;
}
.detail-product .row {
  margin-bottom: 16px;
}
#btn-default {
  text-transform: uppercase;
  color: #001f34;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Roboto Condensed',sans-serif;
  padding: 10px 50px;
  box-sizing: border-box;
  background-color: #fff;
  display: inline-block;
  line-height: 19px;
}

input::placeholder, textarea::placeholder,input, textarea {
  color: white !important;
}
input.wpcf7-submit {
  color: #001f34 !important;
  cursor: pointer;
}
/*  */
#langs{
  opacity: 1;
  position: relative;
  display: block;
  width: auto;
  padding: 0;
  background-color: transparent;
}
#langs .lang-item{
  width: auto;
}
.locale_active {
  font-weight: bolder !important;
  color: #FFF !important
}
.locale_active_inicio {
  font-weight: bolder !important;
  color: #001f34 !important
}
.hm-landing .container {
  min-height: 468px;
  height: 60vh;
}
footer#footer-inicio p {
  color: #002740 !important;
}
footer#footer-inicio p strong{
  color: #001F34 !important;
}
footer p {
  color: white !important;
}
footer p strong {
  color: white !important;
}
/*  */
.float-more, .index-about-text {
  transition: 0.25s;
  text-align: center;
}
.index-about-text {
  text-align: center;
    position: absolute;
    left: 32%;
    top: 95%;
}
.hide {
  display: none;
}
/*  */
.slick-dots li button::before {
  color: white !important;
}
/*  */
@media  (max-width: 560px) {
  .header .container > a img:nth-child(2) {
    height: auto;
    width: 50%;
    margin-bottom: 5px;
    padding-top: 14px;
  }

}
